html,
body,
.messages-wrapper {
    height: 100%;
    box-sizing: border-box;
}
.messages-wrapper {
    padding-top: 40px;
    padding-bottom: 57px;
}
.chat-body {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.message-bubble {
    padding: 10px 30px 10px 10px;
    box-sizing: border-box;
}
.message-bubble:nth-child(even) {
    background-color: #f5f5f5;
}
.panel-body {
    padding: 0px;
}
.panel-heading {
    background-color: #3d6da7 !important;
    color: white !important;
}
.header {
    height: 40px;
    position: relative;
    margin-bottom: -40px;
}
.footer {
    height: 57px;
    position: relative;
    margin-top: -57px;
}
.panel-footer {
    border: 1px solid #ddd;
}
.input-group .message-input {
    width: 60%;
}
.input-group .name-input {
    width: 35%;
    margin-right: 5%;
}
.input-group .name-input.hidden + .message-input {
    width: 100%;
}
.error {
    color: #e41616;
}
.success {
    color: #00ff0b;
}
.system-message {
    float: right;
}